body {
    color: #333;
    background: #f5f5dc;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

/* MAIN */
.section-main {
    background: #556b2f;
    padding: 40px 0 120px;
    text-align: center;
}

.section-main-title {
    font-size: 55px;
    color: #fff;
}

.section-main-button {
    background: #8fbc8f;
    padding: 12px 30px;
    border-radius: 25px;
}

/* SECOND */
.second-section {
    padding: 100px;
}

.second-section img {
    width: 500px;
    border: 6px solid #556b2f;
}

.section-subtitle {
    font-size: 18px;
}

.section-title {
    font-size: 32px;
}

/* THIRD */
.third-section {
    background: #f5f5f5;
    text-align: center;
}

.book-img {
    width: 200px;
}

.book-title {
    font-size: 22px;
}

.book-author {
    font-size: 16px;
}

.book-price {
    font-size: 20px;
}

/* FOOTER */
.footer {
    background: #2f4f4f;
    color: #fff;
    text-align: center;
    padding: 40px;
}

.form-input {
    width: 400px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 8px;
}

.footer-button {
    background: #8fbc8f;
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
}